/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

main{
    min-height: 100%;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
h1{
    text-align: center;
}

.div-cols{
    padding:30px !important;
}

form div:last-child{
    text-align:center;
}

table th:first-child{
    width:10%;
}

#tblStudents tbody tr{
    cursor: pointer;
}

.recycle{
    display: block;
    width: 48px;
    height: 48px;
    background: url(../images/recyclebin.png);
    background-size: contain;
    margin: auto;
}

.recycle:hover{
    display: block;
    width: 48px;
    height: 48px;
    background: url(../images/recyclebin-hover.png);
    background-size: contain;
    margin: auto;
}

.error{
    border: 1px solid red !important;
}

.tfoot-display{
    display: none;
}

.bGroup{
    padding-bottom: 20px;
}

.sec{
    padding-top: 15px;
    padding-bottom: 15px;
}

.lbl{
    text-align: left;
}

.text-over{
    position: relative;
    text-align: center;
    color: white;
}

.centered1{
    font-size: 40px;
    color: #b8daff;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered{
    font-size: 50px;
    color: #b8daff;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}



footer img{
    width: 150px;
}
footer div{
    text-align: center;
}

